<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="smtp" value="smtp.exmail.qq.com"/>
    <add key="smtp-port" value="465"/>
    <add key="from" value="sql@starworks.cc"/>  
    <add key="password" value="pwd here"/>
    <add key="ssl-enabled" value="true"/>
  </appSettings>
</configuration>